@font-face {
    src: url(assets/fonts/AFOnt.ttf);
    font-family: Apple Font;
}
@font-face {
    font-family: Apple Font;
    src: url(assets/fonts/ENAFOnt.ttf);
}
html{
    font-family: Apple Font;
}
div.Mytitle{
    border: 10px solid purple;
    width: 25%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: center;
    background-color: aqua;
    font-size: xx-large;
    border-radius: 25px;
    white-space: nowrap;
}
.center{
    display: block;
    margin: auto;
}
.icloud{
    height: 20%;
    width: 20%;
}