img{
    border-radius: 50%; height: 150px;
}
.CodLang {
    color: rgb(0, 102, 204);
    position: relative;
    text-decoration: none;

}
.CodLang:hover::after {
    content: "";
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0;
    border: 1px solid black;
}
.title {
    text-align: center;
    border: purple solid 5px;
    background-color: aqua;
    display: inline;
    font-size: xx-large;
    font-style: ;
}
@font-face {
    font-family: Apple_Font;
    src: url(assets/fonts/ENAFOnt.ttf);
}
@font-face {
    font-family: Apple_Font;
    src: url(assets/fonts/AFOnt.ttf);
}
div {
    border: solid black thin ;
    margin: 50px;
}
html {
    font-family: Apple_Font;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Myname{
    text-align: center;
    font-size: xxx-large;
}